<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />

    <style>
      .custom-blockquote {
        margin-left: 40px; /* Adjust the value as needed */
      }
    </style>

</head>

<body>
    <h1>{{ title }}</h1>

    <form id="myForm">

        <br>
        <label for="runs">Number of runs:</label>
        <input type="text" name="runs" id="runs" placeholder="10" />
        <br>

        <br>
        <label for="power">Root SWAP power n:</label>
        <input type="text" name="power" id="power" placeholder="6" /> (where \(2^n\) is the number of steps per SWAP)
        <br>

        <br>
        <label for="swap_iter">SWAP iteration:</label>
        <input type="text" name="swap_iter" id="swap_iter" placeholder="1" /> (e.g. 2 is identity)
        <br>

        <br>
        Select |i\(\rangle\) input state:
        <br>
        <input type="radio"
               name="agree_i"
               value="separable"
               checked="checked">Separable
        <br>
        <input type="radio"
               name="agree_i"
               value="entangled">Entangled
        <br>
        <input type="radio"
               name="agree_i"
               value="manual">User's choice
        <br>
        <input type="text" name="i" id="i" placeholder="Enter |i> state" disabled/>
        <br>
        <br>
        Select |f\(\rangle\) input state:
        <br>
        <input type="radio"
               name="agree_f"
               value="separable"
               checked="checked">Separable
        <br>
        <input type="radio"
               name="agree_f"
               value="entangled">Entangled
        <br>
        <input type="radio"
               name="agree_f"
               value="manual">User's choice
        <br>
        <input type="text" name="f" id="f" placeholder="Enter |f> state" disabled/>
        <br>
        <br>
        <fieldset>
            <legend> Plotting </legend>
            <div>
                <input type="checkbox"
               name="show_plot"
               value="yes"> Plot
            </div>
            <div>
                <input type="checkbox"
               name="plot_plane"
               value="yes"
               disabled> Plot Ellipse Plane
            </div>

        </fieldset>
        <br>
        <fieldset>
            <legend> Single Gate Rotation (left side only) </legend>
            <div>
                <input type="checkbox"
                       name="single_gate_rotation"
                       value="yes"> Apply rotation
            </div>
            <div>
                 <input type="radio"
                   name="rotation_side"
                   value="real"
                   checked="checked" disabled> Real
                <br>
                <input type="radio"
                   name="rotation_side"
                   value="imaginary" disabled> Imaginary
                <br>
            </div>
            <div>
                <label for="rot_step">Single gate rotation step:</label>
                <input type="text" name="rot_step" id="rot_step" placeholder="Enter rotation step" disabled/>
            </div>
        </fieldset>
        <br>
        <button name="submit" onclick="openNewPage()">Submit</button>
        <button name="reset" type="reset">Reset All</button>
        <br>
        <br>
        <br>
        Input states:
        <br>
        <p>|i\(\rangle\): {{ i }}</p>
        <p>|f\(\rangle\): {{ f }}</p>

        <br>
        Quantum Mechanics prediction of final state of |i\(\rangle\):
        <br>
        <p>{{ i_qm_predict }}</p>
        <br>

        <br>
        Real Weak Values
            <br>
            <blockquote class="custom-blockquote">
                <fieldset>
                    <legend> Left </legend>
                        <p>Start: {{ start_left_real }}</p>
                        <p>At single gate point: {{ single_gate_point_real_left }}</p>
                        <p>Finish: {{ finish_left_real }}</p>

                </fieldset>
                <br>
                <fieldset>
                    <legend> Right </legend>
                        <p>Start: {{ start_right_real }}</p>
                        <p>At single gate point: {{ single_gate_point_real_right }}</p>
                        <p>Finish: {{ finish_right_real }}</p>

                </fieldset>
            </blockquote>
        <br>
        <br>
        Imaginary Weak Values
            <br>
            <blockquote class="custom-blockquote">
                <fieldset>
                    <legend> Left </legend>
                        <p>Start: {{ start_left_imag }}</p>
                        <p>At single gate point: {{ single_gate_point_imag_left }}</p>
                        <p>Finish: {{ finish_left_imag }}</p>

                </fieldset>
                <br>
                <fieldset>
                    <legend> Right </legend>
                        <p>Start: {{ start_right_imag }}</p>
                        <p>At single gate point: {{ single_gate_point_imag_right }}</p>
                        <p>Finish: {{ finish_right_imag }}</p>

                </fieldset>
            </blockquote>
        <br>
        <br>

    <br>
    Real Velocities: TODO
    <br>

    Imaginary Velocities: TODO
    <br>
    </form>
<script>
document.querySelector("input[name='show_plot']").addEventListener("change", function() {
  var secondaryCheckbox = document.querySelector("input[name='plot_plane']");
  if (this.checked) {
    secondaryCheckbox.disabled = false;
  } else {
    secondaryCheckbox.disabled = true;
    secondaryCheckbox.checked = false; // Uncheck if main checkbox is unchecked
  }
});

document.querySelector("input[name='single_gate_rotation']").addEventListener("change", function() {
  var textInput_rot_step = document.querySelector("input[name='rot_step']");
  var radioButtons_rotation_side = document.querySelectorAll('input[type="radio"][name="rotation_side"]');

  if (this.checked) {
    textInput_rot_step.disabled = false;
    radioButtons_rotation_side.forEach(function(radioButton) {
        radioButton.disabled = false;
        });
  } else {
    radioButtons_rotation_side.forEach(function(radioButton) {
        radioButton.disabled = true;
        });
    textInput_rot_step.disabled = true;
    textInput_rot_step.value = ""; // Disable if main checkbox is unchecked
  }
});

var radioButtons_f = document.querySelectorAll('input[type="radio"][name="agree_f"]');
var textInput_f = document.getElementById("f");

radioButtons_f.forEach(function(radioButton) {
  radioButton.addEventListener("change", function() {
    if (this.value === "manual") {
      textInput_f.disabled = false;
    } else {
      textInput_f.disabled = true;
      textInput_f.value = ""; // Clear input value if radio button is not option 3
    }
  });
});

var radioButtons_i = document.querySelectorAll('input[type="radio"][name="agree_i"]');
var textInput_i = document.getElementById("i");

radioButtons_i.forEach(function(radioButton) {
  radioButton.addEventListener("change", function() {
    if (this.value === "manual") {
      textInput_i.disabled = false;
    } else {
      textInput_i.disabled = true;
      textInput_i.value = ""; // Clear input value if radio button is not option 3
    }
  });
});

function openNewPage() {
  var plotCheckbox = document.querySelector("input[name='show_plot']");
  if (plotCheckbox.checked) {
      var newWindow = window.open("/plot/", '_blank');
      newWindow.focus(); // Optional: bring the new window to focus
      }
}
</script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</body>